<div class="container content">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>ARTICLE 1. INFORMATIONS LÉGALES</h4>
      <p>Le site Computhand est édité par : </p>
      <p>9383 9322 Quebec Inc. immatriculée au registre suivant&nbsp;: 1173929390.</p>
      <br />
      <p>Le directeur de publication du site est : Vincent Baylly.</p>
      <br />
      <p>Le site Computhand est hébergé par :</p>
      <p>Heroku, dont le siège est situé à l'adresse ci-après :</p>
      <p style="padding-left: 30px;">415 Mission Street, 3rd Floor, San Francisco, CA</p>
      <p>Numéro de téléphone : 1-800-667-6389</p>
      <br />
      <h4>ARTICLE 2. PRÉSENTATION DU SITE</h4>
      <p>Le site Computhand a pour objet :</p>
      <p style="padding-left: 30px;">la diffusion des informations concernant la compagnie Computhand et ses employes</p>
      <br />
      <h4>ARTICLE 3. CONTACT</h4>
      <p>Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse e-mail 9383 9322 Quebec Inc.</p>
      <br />
      <h4>ARTICLE 4. ACCEPTATION DES CONDITIONS D'UTILISATION</h4>
      <p>L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation.</p>
      <p>L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la
        suppression ou la modification de fonctionnalités existantes.</p>
      <p>Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l'utilisateur.
      </p>
      <br />
      <h4>ARTICLE 5. ACCÈS ET NAVIGATION</h4>

      <p>L'éditeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de
        celui-ci afin de procéder à des mises à jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.</p>
      <p>La connexion et la navigation sur le site Computhand valent acceptation sans réserve des présentes Conditions Générales d'Utilisation, quelques soient les moyens techniques d'accès et les terminaux
        utilisés.</p>
      <p>Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.</p>
      <br />
      <h4>ARTICLE 6. GESTION DU SITE</h4>
      <p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :</p>
      <ul>
        <li>Suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute</li>
      </ul>
      <ul>
        <li>Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la <a href="" target="_blank">Nétiquette</a></li>
      </ul>
      <ul>
        <li>Suspendre le site afin de procéder à des mises à jour.</li>
      </ul>
      <br />
      <h4>ARTICLE 7. RESPONSABILITÉS</h4>
      <p>L'éditeur n'est responsable que du contenu qu'il a lui-même édité.</p>
      <p>L'éditeur n'est pas responsable :</p>
      <ul>
        <li>En cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit&nbsp;;</li>
      </ul>
      <ul>
        <li>Des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services&nbsp;;</li>
      </ul>
      <ul>
        <li>Des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant&nbsp;;</li>
      </ul>
      <ul>
        <li>Des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la <a href="https://laws-lois.justice.gc.ca/fra/lois/P-8.6/TexteComplet.html" target="_blank">Loi sur la protection des renseignements personnels et les documents électroniques (L.C. 2000, ch. 5)</a> à l'égard de traitement de données à caractère personnel.</li>
      </ul>
      <p>Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.</p>
      <p>L'utilisateur est responsable&nbsp;:</p>
      <ul>
        <li>De la protection de son matériel et de ses données&nbsp;;</li>
      </ul>
      <ul>
        <li>De l'utilisation qu'il fait du site ou de ses services&nbsp;;</li>
      </ul>
      <ul>
        <li>S'il ne respecte ni la lettre, ni l'esprit des présentes CGU.</li>
      </ul>
      <br />
      <h4>ARTICLE 8. LIENS HYPERTEXTES</h4>
      <p>Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels Computhand n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'éditeur,
        celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.</p>
      <p>L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.</p>
      <p>En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.</p>
      <p>Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>
      <p>Enfin, Computhand se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale. </p>
      <br />
      <h4>ARTICLE 9. CONFIDENTIALITE </h4>
      <p>L'éditeur du site porte à la connaissance de l'utilisateur que dans le cadre de sa navigation sur le site, ses données à caractère personnel ne sont ni traitées, ni collectées.</p>
      <p>Ainsi, l'éditeur déclare ne collecter ou ne traiter aucune information étant de nature à pouvoir identifier l'utilisateur. </p>
      <br />
      <h4>ARTICLE 10. PROPRIÉTÉ INTELLECTUELLE</h4>
      <p>La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la
        propriété intellectuelle.</p>
      <p>Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de
        l'éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de
        droits sur le site.</p>
      <p>L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'éditeur.</p>
      <p>Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.</p>
    </div>
  </div>
</div>
