<div class="container content">
  <div class="row">
    <div class="col-md-4">
      <h2>Development</h2>
    </div>
    <div class="col-md-4">
      <h3>Back-End</h3>
      <ul>
         <li>Java/J2EE</li>
         <li>Struts</li>
         <li>Spring</li>
         <li>Spring MVC</li>
         <li>Spring Security</li>
         <li>Java Server Faces</li>
         <li>Hibernates</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Front-End</h3>
      <ul>
         <li>HTML/CSS</li>
         <li>JavaScript</li>
         <li>JQuery</li>
         <li>AngularJS</li>
         <li>Angular~7</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <div>&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
       <h2>Experience</h2>
    </div>
    <div class="col-md-8" data-block-type="21">
      <h3 i18n="soa title|the soa title@@soaTitle">Analyste Technique SOA</h3>
      <p i18n="soa intact description|the intact description@@soaIntactDescription"><strong><a target="_blank" href="https://www.intact.ca">Intact</a>&nbsp;–&nbsp;OCTOBRE 2018 – DECEMBRE 2018</strong><br />
        Membre d'un squad de 10 personnes - 6 developpeurs, 2 Analyste d'affaires, 2 QA, 1 Scrum Master.<br/>
        Evolution dans l'une des parties backend de l'architecture SOA, pour la mise en place de web service pour l’intégration des compagnies partenaires d'Intact de l'Ouest Canadien.<br/>
      </p>
      <h3 i18n="technical title|the technical title@@technicalTitle">Responsable Technique</h3>
      <p i18n="decathlon description|the decathlon description@@decathlonDescription"><strong><a target="_blank" href="https://www.decathlon.com/">Décathlon</a>&nbsp;–&nbsp;JUIN 2018 – OCTOBRE 2018</strong><br />
        Etant l'un des deux Responsables Techniques d'une equipe de 14 personnes.<br/>
        Developpement complet d'un application de gestion de caisse pour la dematerialisation des appareils.<br/>
        (gestionnaire central des caisses ainsi que les applications embarquees sur les caisses)<br/>
      </p>
      <h3 i18n="senior title|the senior title@@seniorTitle">Développeur Sénior</h3>
      <p i18n="montreal title|the montreal title@@montrealTitle"><strong><a target="_blank" href="https://spvm.qc.ca">Ville de Montréal</a>&nbsp;–&nbsp;FEVRIER 2018 - MARS 2018</strong><br />
        En tant que developpeur senior, j'ai developpe un grand partie du middle-ware/back-end d'un application NodeJS<br/>
          • Conception Applicative<br/>
          • Implementation des environnements de developpement et de production<br/>
          • Developpement de l'application.<br/>
      </p>
      <h3 i18n="technical title|the technical title@@technicalTitle">Responsable Technique</h3>
      <p i18n="total description|the total description@@totalDescription"><strong><a target="_blank" href="https://www.total.com">Total</a>&nbsp;–&nbsp;JUIN 2017 - SEPTEMBRE 2017</strong><br />
        Suite à la signature de la sous-traitance, CGI a implementé un gestionnaire de budget<br />
        De la conception à la livraison, j'ai été en charge de l'architecture et de la gestion du développement<br />
        l'application a été implementé dans une architecture multi-tier. Une partie front end utilisant les dernieres technologie sur le marché, NodeJS, AngularJS, bower, bootstrap<br />
        La partie backend exposant des services REST implementés avec Spring REST, Spring Security, Hibernate ainsi que Flyway pour la conservation de l'integrité des données de la base<br />
      </p>
      <h3 i18n="senior title|the senior title@@seniorTitle">Senior Developer</h3>
      <p i18n="california description|the california description@@californiaDescription"><strong><a target="_blank" href="http://www.sacramento-alert.org">California Government, Sacramento</a>&nbsp;–&nbsp;JANVIER 2017 - FEVRIER 2017</strong><br />
        Dans le cadre d’une réponse à un appel d’offre de l’état de Californie, nous avons développé une application de gestion de notifications.<br />
        Ces notifications utilisant la géolocalisation pour transmettre des informations de catastrophe naturelle survenue dans une zone proche de l’utilisateur.<br />
        Cette application a été réalisée en collaboration avec les bureaux CGI de Sacramento.<br />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <div>&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
       <h2>Education</h2>
    </div>
    <div class="col-md-8" data-block-type="21">
      <h3>Formation ATG - Oracle - 2015</h3>
      <h3>Test Unitaire - Integration Continu - 2011</h3>
      <h3>Mise à niveau Ingénieur - 2007</h3>
      <p>Java/J2EE, Conception et Implementation de projets</p>
      <h3>DEC - Informatique de Gestion - 2004/2006</h3>
      <h3>Joubert Voyages, Paris - Stage Analyste Développeur</h3>
      <p>DECEMBRE 2005 - DECEMBRE 2006</p>
      <h3>Netpartage, Paris - Stage Développeur Analyste Développeur</h3>
      <p>JANVIER 2005 - JUILLET 2005</p>
      <h3>Hobby One, Paris - Stage Développeur Analyste Développeur</h3>
      <p>NOVEMBRE 2003 - JANVIER 2004</p>
      <h3>Fin de secondaire - 2003</h3>
    </div>
  </div>
</div>
