<footer class="Footer" role="contentinfo" data-controller="FooterBreakpoints">
   <div class="Footer-inner clear">
      <div class="vba-layout vba-grid-12 columns-12 Footer-blocks Footer-blocks--bottom vba-alternate-block-style-container" data-layout-label="Footer Bottom Blocks" data-type="block-field" data-updated-on="1519857423263" id="footerBlocksBottom">
         <div class="row vba-row">
            <div class="col vba-col-12 span-12">
               <div class="vba-block html-block vba-block-html" data-block-type="2">
                  <div class="vba-block-content">
                     <p i18n="copyright|the copyright text@@copyrightText" class="text-align-center">Copright &copy; {{year}} - 9383 9322 Quebec Inc. - ComputHand - All Rights Reserved</p>
                     <p class="text-align-center">
                       <a i18n="terms of service link|the terms of service links@@termsServiceLink" [routerLink]="['/termOfService']">Terms of Service</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
