<header class="Header Header--bottom Header--overlay">
  <div class="Header-inner Header-inner--bottom">
    <div data-nc-container="bottom-left">
    </div>
    <div data-nc-container="bottom-center">
    </div>
    <div data-nc-container="bottom-right">
      <nav class="Header-nav Header-nav--primary" data-nc-element="primary-nav" data-content-field="navigation">
          <div class="Header-nav-inner">
            <button mat-icon-button (click)="openMenu()" [matMenuTriggerFor]="appMenu" fxShow="true" fxHide.gt-xs>
              <mat-icon class="white-icon">{{icon}}</mat-icon>
              <a [routerLink]="['/home']"><img src="/assets/img/computhand.png" alt="logo" /></a>
            </button>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-sm>
              <!-- The following menu items will be hidden on both SM and XS screen sizes -->
              <a class="Header-nav-item" [routerLink]="['/home']">Home</a>
              <a class="Header-nav-item" [routerLink]="['/resume']">Resume</a>
              <a class="Header-nav-item" [routerLink]="['/devdiagram']">Development Skills</a>
              <a class="Header-nav-item" [routerLink]="['/sysdiagram']">System Skills</a>
              <a class="Header-nav-item" [routerLink]="['/devdiagram']">Extra Skills</a>
              <a [routerLink]="['/home']"><img src="/assets/img/computhand.png" alt="logo" /></a>
            </div>
            <mat-menu class="app-menu" #appMenu="matMenu" fxFlexFill>
              <button class="hover-effect" mat-button [routerLink]="['/home']">Home</button>
              <button class="hover-effect" mat-button [routerLink]="['/resume']">Resume</button>
              <button class="hover-effect" mat-button [routerLink]="['/devdiagram']">Development Skills</button>
              <button class="hover-effect" mat-button [routerLink]="['/sysdiagram']">System Skills</button>
              <button class="hover-effect" mat-button [routerLink]="['/devdiagram']">Extra Skills</button>
            </mat-menu>
          </div>
      </nav>
    </div>
  </div>
</header>
