<header class="Header Header--bottom Header--overlay">
  <div class="Header-inner Header-inner--bottom">
    <div data-nc-container="bottom-left">
    </div>
    <div data-nc-container="bottom-center">
    </div>
    <div data-nc-container="bottom-right">
      <!-- <nav class="Header-nav Header-nav--primary" data-nc-element="primary-nav" data-content-field="navigation">
          <div class="Header-nav-inner">
            <button mat-button [routerLink]="['/home']">Home</button>
            <button mat-button [routerLink]="['/resume']">Resume</button>
            <button mat-button [routerLink]="['/devdiagram']">Development Skills</button>
            <button mat-button [routerLink]="['/sysdiagram']">System Skills</button>
            <button mat-button [routerLink]="['/devdiagram']">Extra Skills</button>
          </div>
      </nav> -->
    </div>
  </div>
</header>
