<p>Temps</p>
<p>Pause Matin 15 minutes</p>
<h3><strong>Mise en place d&rsquo;un environnement</strong></h3>
<p>Temps</p>
<p>Cas Pratique 30 minutes</p>
<p>Native Javascript:</p>
<p>&lt;div id="app"&gt;</p>
<p>&nbsp;&nbsp;&lt;h2&gt;X are in stock.&lt;/h2&gt;</p>
<p>&lt;/div&gt;</p>
<p>&lt;script&gt;</p>
<p>&nbsp;&nbsp;Var product = 'Boots'</p>
<p>&lt;/script&gt;</p>
<p>VueJS:</p>
<p>&lt;div id="app"&gt;</p>
<p>&nbsp;&nbsp;&lt;h2&gt;{{ product }} are in stock.&lt;/h2&gt;</p>
<p>&lt;/div&gt;</p>
<p>&lt;script src="https://unpkg.com/vue"&gt;&lt;/script&gt;</p>
<p>&lt;script&gt;</p>
<p>&nbsp;&nbsp;Const app = new Vue {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;el: '#app',</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;data: {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;product: 'Boots'</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
<p>&nbsp;&nbsp;}</p>
<p>&lt;/script&gt;</p>
<p>Package.json:</p>
<p>{</p>
<p>&nbsp;&nbsp;"name": "Formation-Doussou-Vue.JS",</p>
<p>&nbsp;&nbsp;"version": "1.0.0",</p>
<p>&nbsp;&nbsp;"description": "Premier Exercice Formation Doussou VueJS",</p>
<p>&nbsp;&nbsp;"main": "index.html",</p>
<p>&nbsp;&nbsp;"scripts": {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"start": "serve"</p>
<p>&nbsp;&nbsp;},</p>
<p>&nbsp;&nbsp;"keywords": [],</p>
<p>&nbsp;&nbsp;"license": "MIT",</p>
<p>&nbsp;&nbsp;"devDependencies": {</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;"serve": "^11.2.0"</p>
<p>&nbsp;&nbsp;}</p>
<p>}</p>
<h2><strong>Prendre en main le framework</strong></h2>
<h3><strong>La notion d&rsquo;instance</strong></h3>
<p>Temps</p>
<p><strong>20 minutes</strong></p>
<h3><strong>Utiliser les templates</strong></h3>
<p>Temps</p>
<p><strong>20 minutes</strong></p>
<p>Faire exercice</p>
<p>Temps</p>
<p>Pause Dejeuner 60 minutes</p>
<h3><strong>Comprendre la vue</strong></h3>
<h3><strong>Passer des informations &agrave; la vue</strong></h3>
<h3><strong>Le data-binding</strong></h3>
<p>Temps</p>
<p>Journee 2</p>
<h3><strong>Comprendre les directives</strong></h3>
<h3><strong>Comprendre les filtres</strong></h3>
<h3><strong>G&eacute;rer les &eacute;v&eacute;nements</strong></h3>
<h3><strong>Ajouter du style</strong></h3>
<h3><strong>Utiliser les boucles et les conditions</strong></h3>
<h2><strong>Notions avanc&eacute;es</strong></h2>
<p>Temps</p>
<p>Journee 3</p>
<h3><strong>G&eacute;rer le routing</strong></h3>
<h3><strong>Faire des requ&ecirc;tes Ajax</strong></h3>
<h3><strong>Cr&eacute;er un filtre</strong></h3>
<h3><strong>Cr&eacute;er une directive</strong></h3>
<h3><strong>Cr&eacute;er un composant</strong></h3>
<h3><strong>Les extensions</strong></h3>