<p i18n="@@contactTitle">
  Lead Technique Java J2EE/Angular
  1375 103e Avenue
  G9P 1H1 Shawinigan, QC
  vincent.baylly@computhand.com
</p>
Having more than 10 years in IT computing especially in web domain, my last experience provides me the skill to give more than just development expertise. I am today able to lead interviews, provide technical and architectural advices, manage a team and add technical analysis in my deliveries. These past expériences allow me to open my own business today. I am looking for IT contracts to offer my skills more efficiently.

My gitHub with some of my personal project: https://github.com/vincentBaylly
