<main class="Index" data-controller="IndexFirstSectionHeight, Parallax, IndexNavigation">
   <section id="resume-header" class="Index-page Index-page--has-image"  data-parallax-original-element data-edit-main-image="Background">
      <div class="Index-page-content  vba-alternate-block-style-container">
         <div class="vba-layout vba-grid-12 columns-12" data-type="page">
            <div class="row vba-row">
               <div class="col vba-col-12 span-12">
                  <div class="vba-block html-block vba-block-html" data-block-type="2">
                     <div class="vba-block-content">
                        <h1>Programmer</h1>
                        <h2>Specialized in Web - Java/J2EE - Angular</h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="home-content" class="Index-page" data-edit-main-image="Background">
      <div class="Index-page-content ">
        <div class="row vba-row">
           <div class="col vba-col-12 span-12">
              <div class="vba-block html-block vba-block-html" data-block-type="2">
                 <div class="vba-block-content">
                    <p>Having more than 10 years in IT computing especially in web domain, my last experience provides me the skill to give more than just development expertise. I am today able to lead interviews, provide technical and architectural advices, manage a team and add technical analysis in my deliveries. These past expériences allow me to open my own business today. I am looking for IT contracts to offer my skills more efficiently.</p>
                    <h3>My gitHub with some of my personal project: <a href="https://github.com/vincentBaylly" target="_blank">GitHub - vincentBaylly</a></h3>
                    <h3><a href="https://www.linkedin.com/in/vincent-baylly-484a0070/" target="_blank">My LinkedIn</a></h3>
                 </div>
              </div>
           </div>
        </div>
      </div>
   </section>
</main>
