<h1><strong>Selenium</strong></h1>
<ul>
    <li>L’automatisation des tests</li>
    <li>Réaliser des tests automatisés fonctionnels</li>
    <li>Manipuler Selenium IDE</li>
    <li>Réaliser des tests de performance</li>
</ul>