<!DOCTYPE html>
<html>

<head>
    <% include ../../../partials/header.ejs %>
</head>

<body>
    <%
        this.date = new Date();
        this.year = this.date.getFullYear();
      %>
    <%- include('../../../partials/nav', {active:'home'}); %>
    <div class="container content">
        <p>Faire la formation!!</p>
    </div>
    <% include ../../../partials/footer.ejs %>
</body>