<template>
<div>
  <div class="jumbotron text-center">
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <p>
          <ul>
            <li>Une expérience de plus de 15 ans dans le développement informatique, orientée dans les technologies du Web, spécialisée dans le développement Java JEE, en Javascript NodeJS et framework front End (Angular, VueJS, Express...)</li>
            <li>Une activité dans les secteurs de la finance, des assurances, de la télécommunication et de la sécurité publique</li>
            <li>Une compétence d’expert en tant que consultant</li>
          </ul>
          Ont abouti à la création de la compagnie ComputHand en 2018. Ses domaines d'activité sont l’analyse du besoin, l’implémentation et le développement de solutions, le déploiement et la maintenance ainsi que de l’accompagnement et de la
          formation.
        </p>
      </div>
      <div class="col-md-12">
        <p>
          Articles:
          <ul>
            <li><a href="https://medium.com/@computhand/application-m%C3%A9t%C3%A9o-react-props-states-et-services-715943011702" target="_blank">Application météo</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
</template>
