<template>
  <div>
    <div class="jumbotron text-center"></div>
    <div class="container content">
      <div class="row">
        <div class="col-md-4">
          <h3>D&eacute;veloppement</h3>
        </div>
        <div class="col-md-4">
          <h4>Back-End</h4>
          <ul>
            <li>Java/J2EE</li>
            <li>Struts</li>
            <li>Spring</li>
            <li>Spring MVC</li>
            <li>Spring Security</li>
            <li>Java Server Faces</li>
            <li>Hibernates</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Front-End</h4>
          <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>AngularJS</li>
            <li>Angular~7</li>
            <li>VueJS</li>
            <li>ReactJS</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>&Eacute;xperience</h3>
        </div>
        <div class="col-md-8" data-block-type="21">
          <h4 i18n="Doussou title|the Doussou title@@doussouTitle">
            Formateur - Doussou Formation
          </h4>
          <p
            i18n="doussou description|doussou description@@doussouDescription"
          >
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="https://www.intact.ca"
                >Intact</a
              >&nbsp;–&nbsp;AVRIL 2019 – PRESENT</strong
            ><br />
            Dispenser les formations chez<a href="https://www.doussou-formation.com/" target="_blank">Doussou Formation</a><br />
            <ul>
              <li>Gestion de projet:</li>
              <ul>
                <li><a href="https://www.doussou-formation.com/en/formation/scrum-master-training-montreal-quebec-gatineau/" target="_blank">Scrum Master</a></li>
                <li><a href="https://www.doussou-formation.com/formation/formation-uml-presentation-et-utilisation-uml/" target="_blank">UML</a></li>
              </ul>
              <li>Solution de deploiement et outils:</li>
                <ul>
                  <li><a href="https://www.doussou-formation.com/formation/formation-docker/">Docker</a></li>
                  <li><a href="https://www.doussou-formation.com/formation/formation-kubernetes/">Kubernetes</a></li>
                  <li><a href="https://www.doussou-formation.com/formation/formation-git/">Git</a></li>
              </ul>
              <li>Test applicatif:</li>
                <ul>
                  <li><a href="https://www.doussou-formation.com/formation/formation-soapui/" target="_blank">SOAPUI</a></li>
                  <li><a href="https://www.doussou-formation.com/en/formation/selenium-training-automate-functional-testing-montreal/" target="_blank">Selenium</a></li>
                </ul>
              <li>Developpement backend:</li>
                <ul>
                  <li><a href="https://www.doussou-formation.com/formation/formation-java-ee-creez-votre-application-web-avec-java-ee/" target="_blank">Java</a></li>
                </ul>
              <li>Developpement frontend:</li>
                <ul>
                  <li><a href="https://www.doussou-formation.com/formation/react-js/" target="_blank">ReactJS</a></li>
                  <li><a href="https://www.doussou-formation.com/formation/formation-react-personnalisee/" target="_blank">ReactJS Avance</a></li>
                  <li><a href="https://www.doussou-formation.com/formation/angularjs/" target="_blank">Angular</a></li>
                </ul>
            </ul>
          </p>
          <h4 i18n="cegep title|the cegep title@@cegepTitle">
            Chargé de cours - Cegep Trois Rivieres
          </h4>
          <p
            i18n="cegep description|cegep description@@cegepDescription"
          >
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="https://www.intact.ca"
                >Intact</a
              >&nbsp;–&nbsp;SEPTEMBRE 2019 – MARS 2021</strong
            ><br />
            Assurer une partie des cours du programme <a href="https://formation-mauricie.ca/programme/developpement-web/" target="_blank">Developpement Web (Front-end):</a><br />
            <ul>
              <li>Techniques de programmation WEB 1</li>
              <li>Techniques de programmation WEB 2</li>
              <li>Intégration d'interface utilisateur</li>
              <li>Projet synthèse en développement WEB</li>
              <li>Stage en milieu de travail</li>
            </ul>
          </p>
          <h4 i18n="soa title|the soa title@@soaTitle">
            Analyste Technique SOA
          </h4>
          <p
            i18n="soa intact description|the intact description@@soaIntactDescription"
          >
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="https://www.intact.ca"
                >Intact</a
              >&nbsp;–&nbsp;OCTOBRE 2018 – DECEMBRE 2018</strong
            ><br />
            Membre d'un squad de 10 personnes - 6 developpeurs, 2 Analyste
            d'affaires, 2 QA, 1 Scrum Master.<br />
            Evolution dans l'une des parties backend de l'architecture SOA, pour
            la mise en place de web service pour l’intégration des compagnies
            partenaires d'Intact de l'Ouest Canadien.<br />
          </p>
          <h4 i18n="technical title|the technical title@@technicalTitle">
            Responsable Technique
          </h4>
          <p
            i18n="decathlon description|the decathlon description@@decathlonDescription"
          >
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="https://www.decathlon.com/"
                >Décathlon</a
              >&nbsp;–&nbsp;JUIN 2018 – OCTOBRE 2018</strong
            ><br />
            Etant l'un des deux Responsables Techniques d'une equipe de 14
            personnes.<br />
            Developpement complet d'un application de gestion de caisse pour la
            dematerialisation des appareils.<br />
            (gestionnaire central des caisses ainsi que les applications
            embarquees sur les caisses)<br />
          </p>
          <h4 i18n="senior title|the senior title@@seniorTitle">
            Développeur Sénior
          </h4>
          <p i18n="montreal title|the montreal title@@montrealTitle">
            <strong
              ><a class="small-link" target="_blank" href="https://spvm.qc.ca"
                >Ville de Montréal</a
              >&nbsp;–&nbsp;FEVRIER 2018 - MARS 2018</strong
            ><br />
            En tant que developpeur senior, j'ai developpe un grand partie du
            middle-ware/back-end d'un application NodeJS<br />
            • Conception Applicative<br />
            • Implementation des environnements de developpement et de
            production<br />
            • Developpement de l'application.<br />
          </p>
          <h4 i18n="technical title|the technical title@@technicalTitle">
            Responsable Technique
          </h4>
          <p i18n="total description|the total description@@totalDescription">
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="https://www.total.com"
                >Total</a
              >&nbsp;–&nbsp;JUIN 2017 - SEPTEMBRE 2017</strong
            ><br />
            Suite à la signature de la sous-traitance, CGI a implementé un
            gestionnaire de budget<br />
            De la conception à la livraison, j'ai été en charge de
            l'architecture et de la gestion du développement<br />
            l'application a été implementé dans une architecture multi-tier. Une
            partie front end utilisant les dernieres technologie sur le marché,
            NodeJS, AngularJS, bower, bootstrap<br />
            La partie backend exposant des services REST implementés avec Spring
            REST, Spring Security, Hibernate ainsi que Flyway pour la
            conservation de l'integrité des données de la base<br />
          </p>
          <h4 i18n="senior title|the senior title@@seniorTitle">
            Senior Developer
          </h4>
          <p
            i18n="california description|the california description@@californiaDescription"
          >
            <strong
              ><a
                class="small-link"
                target="_blank"
                href="http://www.sacramento-alert.org"
                >California Government, Sacramento</a
              >&nbsp;–&nbsp;JANVIER 2017 - FEVRIER 2017</strong
            ><br />
            Dans le cadre d’une réponse à un appel d’offre de l’état de
            Californie, nous avons développé une application de gestion de
            notifications.<br />
            Ces notifications utilisant la géolocalisation pour transmettre des
            informations de catastrophe naturelle survenue dans une zone proche
            de l’utilisateur.<br />
            Cette application a été réalisée en collaboration avec les bureaux
            CGI de Sacramento.<br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>&Eacute;ducation</h3>
        </div>
        <div class="col-md-8" data-block-type="21">
          <h4>Formation ATG - Oracle - 2015</h4>
          <h4>Test Unitaire - Integration Continu - 2011</h4>
          <h4>Mise à niveau Ingénieur - 2007</h4>
          <p>Java/J2EE, Conception et Implementation de projets</p>
          <h4>DEC - Informatique de Gestion - 2004/2006</h4>
          <h4>Joubert Voyages, Paris - Stage Analyste Développeur</h4>
          <p>DECEMBRE 2005 - DECEMBRE 2006</p>
          <h4>Netpartage, Paris - Stage Developpeur Analyste Développeur</h4>
          <p>JANVIER 2005 - JUILLET 2005</p>
          <h4>Hobby One, Paris - Stage Developpeur Analyste Développeur</h4>
          <p>NOVEMBRE 2003 - JANVIER 2004</p>
          <h4>Fin de secondaire - 2003</h4>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</template>
