<main class="Index" data-controller="IndexFirstSectionHeight, Parallax, IndexNavigation">
  <section id="resume-header" class="Index-page Index-page--has-image"  data-parallax-original-element data-edit-main-image="Background">
    <div class="Index-page-content  vba-alternate-block-style-container">
      <h1 i18n="system skills title|the system skills title@@sysSkillsTitle" align="center">SYSTEM SKILLS</h1>
    </div>
  </section>
  <section *ngIf="!isMobile" id="sys-diagram-content" class="Index-page" data-edit-main-image="Background">
    <div class="Index-page-content">
      <div class="container">
        <div class="item" id="sysAppDiagram"></div>
      </div>
    </div>
  </section>
  <section *ngIf="isMobile" id="sys-diagram-content" class="Index-page" data-edit-main-image="Background">
    <div class="Index-page-content ">
      <div class="container">
        <carousel>
          <ng-container *ngFor="let item of items;">
            <ng-container *carouselItem>
              <div class="item" id="{{item.id}}"></div>
            </ng-container>
          </ng-container>
        </carousel>
      </div>
    </div>
  </section>
</main>
