@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import (css) url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
  font-family: 'Playfair Display', sans-serif;
}
a{
   color:inherit;
   text-decoration:none;
}
a:active,a:focus{
   outline:0
}
.vba-block-html p a{
   color:#1a1a1a;
   -webkit-transition:color .15s ease-out;
   -moz-transition:color .15s ease-out;
   -ms-transition:color .15s ease-out;
   -o-transition:color .15s ease-out;
   transition:color .15s ease-out;
   padding-bottom:.05em;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:rgba(26,26,26,.3);
   -webkit-transition:border-color .15s ease-out,color .15s ease-out;
   -moz-transition:border-color .15s ease-out,color .15s ease-out;
   -ms-transition:border-color .15s ease-out,color .15s ease-out;
   -o-transition:border-color .15s ease-out,color .15s ease-out;
   transition:border-color .15s ease-out,color .15s ease-out;
}
.vba-block-html p a:hover{
   color:rgba(26,26,26,.5)
}
.vba-block-html p a:hover{
   color:rgba(26,26,26,.6);
   border-color:rgba(26,26,26,.15)
}

.Mobile-overlay{
   position:fixed;
   top:0;
   left:-99999px;
   bottom:0;
   z-index:1010;
   width:100%;
   -webkit-transition:left 0s 525ms,background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -moz-transition:left 0s 525ms,background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -ms-transition:left 0s 525ms,background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -o-transition:left 0s 525ms,background-color 350ms cubic-bezier(.55,0,.1,1) 175ms;
   transition:left 0s 525ms,background-color 350ms cubic-bezier(.55,0,.1,1) 175ms
}
.is-mobile-overlay-active .Mobile-overlay{
   left:0;
   background-color:#fff;
   -webkit-transition:left 0s,background-color 350ms cubic-bezier(.55,0,.1,1);
   -moz-transition:left 0s,background-color 350ms cubic-bezier(.55,0,.1,1);
   -ms-transition:left 0s,background-color 350ms cubic-bezier(.55,0,.1,1);
   -o-transition:left 0s,background-color 350ms cubic-bezier(.55,0,.1,1);
   transition:left 0s,background-color 350ms cubic-bezier(.55,0,.1,1)
}
.enable-load-effects .Mobile-overlay{
   -webkit-animation:anim-opacity-99 525ms linear;
   animation:anim-opacity-99 525ms linear
}
.Mobile-overlay-menu{
   position:absolute;
   top:0;
   bottom:0;
   z-index:2;
   width:80%;
   width:calc(100% - 60px );
   overflow:hidden;
   background-color:#fff;
   -webkit-font-smoothing:subpixel-antialiased;
   -moz-osx-font-smoothing:auto
}
.tweak-mobile-overlay-slide-origin-left .Mobile-overlay-menu{
   -webkit-transform:translate3d(-100%,0,0);
   -moz-transform:translate3d(-100%,0,0);
   -ms-transform:translate3d(-100%,0,0);
   -o-transform:translate3d(-100%,0,0);
   transform:translate3d(-100%,0,0);
   -webkit-transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -webkit-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -moz-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -ms-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -o-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms
}
.tweak-mobile-overlay-slide-origin-left.is-mobile-overlay-active .Mobile-overlay-menu{
   -webkit-transform:translate3d(0,0,0);
   -moz-transform:translate3d(0,0,0);
   -ms-transform:translate3d(0,0,0);
   -o-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
   -webkit-transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   -webkit-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -moz-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -ms-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -o-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   transition:transform 350ms cubic-bezier(.55,0,.1,1)
}
.tweak-mobile-overlay-slide-origin-right .Mobile-overlay-menu{
   right:0;
   -webkit-transform:translate3d(100%,0,0);
   -moz-transform:translate3d(100%,0,0);
   -ms-transform:translate3d(100%,0,0);
   -o-transform:translate3d(100%,0,0);
   transform:translate3d(100%,0,0);
   -webkit-transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -webkit-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -moz-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -ms-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   -o-transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms;
   transition:transform 350ms cubic-bezier(.55,0,.1,1) 175ms
}
.tweak-mobile-overlay-slide-origin-right.is-mobile-overlay-active .Mobile-overlay-menu{
   -webkit-transform:translate3d(0,0,0);
   -moz-transform:translate3d(0,0,0);
   -ms-transform:translate3d(0,0,0);
   -o-transform:translate3d(0,0,0);
   transform:translate3d(0,0,0);
   -webkit-transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   -webkit-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -moz-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -ms-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -o-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   transition:transform 350ms cubic-bezier(.55,0,.1,1)
}
.Mobile-overlay-menu-main{
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
   position:absolute;
   top:0;
   bottom:0;
   z-index:3;
   width:100%;
   padding:36px;
   overflow:auto;
   -webkit-transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   transition:-webkit-transform 350ms cubic-bezier(.55,0,.1,1);
   -webkit-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -moz-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -ms-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   -o-transition:transform 350ms cubic-bezier(.55,0,.1,1);
   transition:transform 350ms cubic-bezier(.55,0,.1,1)
}
.Mobile-overlay-nav-item{
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
   display:block;
   position:relative;
   width:100%;
   padding-bottom:.618em;
   text-align:left
}
.Mobile-overlay-nav--secondary .Mobile-overlay-nav-item:first-child{
   padding-top:1em
}
body:not(.tweak-mobile-overlay-menu-primary-style-button) .Mobile-overlay-nav .Mobile-overlay-nav-item{
   font-family:Arial,Helvetica,sans-serif;
   font-weight:400;
   font-size:16px;
   letter-spacing:0em;
   font-family:proxima-nova;
   font-weight:300;
   font-style:normal;
   font-size:24px;
   letter-spacing:.02em;
   line-height:1em;
   text-transform:none;
   color:#272727
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit) .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   font-family:Arial,Helvetica,sans-serif;
   font-family:freight-sans-pro;
   font-weight:400;
   font-style:normal;
   font-size:16px;
   letter-spacing:0em;
   line-height:1em;
   text-transform:none;
   display:table;
   width:auto;
   padding:12px 18px;
   margin-bottom:6px
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-shape-rounded .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   border-radius:3px
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-shape-pill .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   border-radius:300px
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-solid .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-solid .Mobile-overlay-nav--primary .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-outline .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   border:2px solid #000;
   background-color:transparent;
   color:#000
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-outline .Mobile-overlay-nav--primary .Mobile-overlay-nav-item--folder:after{
   color:#000
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav--primary .Mobile-overlay-nav-item{
   position:relative;
   box-shadow:0 2px 0 0 #000;
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav--primary .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav--primary .Mobile-overlay-nav-item:active{
   top:1px;
   box-shadow:0 1px 0 0 #000
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit .Mobile-overlay-nav .Mobile-overlay-nav-item{
   font-family:Arial,Helvetica,sans-serif;
   font-family:freight-sans-pro;
   font-weight:400;
   font-style:normal;
   font-size:16px;
   letter-spacing:0em;
   line-height:1em;
   text-transform:none;
   display:table;
   width:auto;
   padding:12px 18px;
   margin-bottom:6px
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-shape-rounded .Mobile-overlay-nav .Mobile-overlay-nav-item{
   border-radius:3px
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-shape-pill .Mobile-overlay-nav .Mobile-overlay-nav-item{
   border-radius:300px
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-solid .Mobile-overlay-nav .Mobile-overlay-nav-item{
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-solid .Mobile-overlay-nav .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-outline .Mobile-overlay-nav .Mobile-overlay-nav-item{
   border:2px solid #000;
   background-color:transparent;
   color:#000
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-outline .Mobile-overlay-nav .Mobile-overlay-nav-item--folder:after{
   color:#000
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav .Mobile-overlay-nav-item{
   position:relative;
   box-shadow:0 2px 0 0 #000;
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-primary-style-button.tweak-mobile-overlay-menu-secondary-inherit.tweak-mobile-overlay-menu-primary-button-style-raised .Mobile-overlay-nav .Mobile-overlay-nav-item:active{
   top:1px;
   box-shadow:0 1px 0 0 #000
}
body:not(.tweak-mobile-overlay-menu-secondary-style-button):not(.tweak-mobile-overlay-menu-secondary-inherit) .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   font-family:Arial,Helvetica,sans-serif;
   font-weight:400;
   font-size:16px;
   line-height:1em;
   font-family:freight-big-pro;
   font-weight:500;
   font-style:normal;
   font-size:34px;
   letter-spacing:0em;
   line-height:.5em;
   text-transform:none;
   color:#e60004
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit) .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   font-family:Arial,Helvetica,sans-serif;
   font-family:freight-sans-pro;
   font-weight:400;
   font-style:normal;
   font-size:16px;
   letter-spacing:0em;
   line-height:1em;
   text-transform:none;
   display:table;
   width:auto;
   padding:12px 18px;
   margin-bottom:6px
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-shape-rounded .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   border-radius:3px
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-shape-pill .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   border-radius:300px
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-solid .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-solid .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-outline .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   border:2px solid #000;
   background-color:transparent;
   color:#000
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-outline .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item--folder:after{
   color:#000
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-raised .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item{
   position:relative;
   box-shadow:0 2px 0 0 #000;
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-raised .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item--folder:after{
   color:#fff
}
.tweak-mobile-overlay-menu-secondary-style-button:not(.tweak-mobile-overlay-menu-secondary-inherit).tweak-mobile-overlay-menu-secondary-button-style-raised .Mobile-overlay-nav--secondary .Mobile-overlay-nav-item:active{
   top:1px;
   box-shadow:0 1px 0 0 #000
}

.tweak-site-border-show .Site{
   border:40px solid #fff
}
@media screen and (max-width:768px){
   .tweak-site-border-show .Site{
       border-width:36px
   }
}
@media screen and (max-width:640px){
   .tweak-site-border-show .Site{
       border-width:20px
   }
}
@media screen and (max-width:768px){
   .tweak-site-border-show .Site{
       border-top:0
   }
}
.tweak-site-width-option-constrained-width .Site{
   max-width:1280px;
   margin-left:auto;
   margin-right:auto
}
.Site-inner{
   position:relative
}

@media only screen and (min-width:640px){
   .Index .Index-page.Index-page--has-image:first-child .Index-page-content{
       margin-top:112px
   }
}
.tweak-index-page-fullscreen-first-page-only .Index-page--has-image:first-child, .tweak-index-page-fullscreen-pages-with-backgrounds-only .Index-page--has-image:first-child, .tweak-index-page-fullscreen-all-pages .Index-page--has-image:first-child {
    min-height: 320px;
}
.tweak-index-page-fullscreen-first-page-only .Index-page:first-child, .tweak-index-page-fullscreen-pages-with-backgrounds-only .Index-page--has-image, .tweak-index-page-fullscreen-all-pages .Index-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 320px;
}

.Index-page-scroll-indicator.hidden{
   pointer-events:none
}

.Intro-content,
.Main-content,
.Index-page-content{
   -webkit-animation:anim-opacity-full 480ms ease-out;
   animation:anim-opacity-full 480ms ease-out
}

.tweak-site-width-option-full-background .Header-inner,
.tweak-site-width-option-full-background .Intro-content,
.tweak-site-width-option-full-background .Main-content,
.tweak-site-width-option-full-background .Footer-inner,
.tweak-site-width-option-full-background .Index-page-content{
   max-width:1280px;
   margin-left:auto;
   margin-right:auto
}

.tweak-index-page-fullscreen-first-page-only .Index-page:first-child .Index-page-content,
.tweak-index-page-fullscreen-pages-with-backgrounds-only .Index-page--has-image .Index-page-content,
.tweak-index-page-fullscreen-all-pages .Index-page .Index-page-content{
   display:-webkit-box;
   display:-ms-flexbox;
   display:-webkit-flex;
   display:flex;
   -webkit-box-orient:vertical;
   -ms-flex-direction:column;
   -webkit-flex-direction:column;
   flex-direction:column;
   -moz-justify-content:center;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   -webkit-justify-content:center;
   justify-content:center;
   width:100%
}

.Index-page--has-image{
   background-color:#000;
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
   color:#fff;
}
.Index-page--has-image h1{
   color:#fff
}
.Index-page--has-image h1 a{
   padding-bottom:.05em;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:rgba(255,255,255,.3);
   -webkit-transition:border-color .15s ease-out,color .15s ease-out;
   -moz-transition:border-color .15s ease-out,color .15s ease-out;
   -ms-transition:border-color .15s ease-out,color .15s ease-out;
   -o-transition:border-color .15s ease-out,color .15s ease-out;
   transition:border-color .15s ease-out,color .15s ease-out
}
.Index-page--has-image h1 a:hover{
   color:rgba(255,255,255,.6);
   border-color:rgba(255,255,255,.15)
}
.Index-page--has-image h2{
   color:#fff
}
.Index-page--has-image h2 a{
   padding-bottom:.05em;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:rgba(255,255,255,.3);
   -webkit-transition:border-color .15s ease-out,color .15s ease-out;
   -moz-transition:border-color .15s ease-out,color .15s ease-out;
   -ms-transition:border-color .15s ease-out,color .15s ease-out;
   -o-transition:border-color .15s ease-out,color .15s ease-out;
   transition:border-color .15s ease-out,color .15s ease-out
}
.Index-page--has-image h2 a:hover{
   color:rgba(255,255,255,.6);
   border-color:rgba(255,255,255,.15)
}
.Index-page--has-image h3{
   color:#fff
}
.Index-page--has-image h3 a{
   padding-bottom:.05em;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:rgba(255,255,255,.3);
   -webkit-transition:border-color .15s ease-out,color .15s ease-out;
   -moz-transition:border-color .15s ease-out,color .15s ease-out;
   -ms-transition:border-color .15s ease-out,color .15s ease-out;
   -o-transition:border-color .15s ease-out,color .15s ease-out;
   transition:border-color .15s ease-out,color .15s ease-out
}
.Index-page--has-image h3 a:hover{
   color:rgba(255,255,255,.6);
   border-color:rgba(255,255,255,.15)
}
.Index-page--has-image .vba-block-html p a{
   color:#fff;
   -webkit-transition:color .15s ease-out;
   -moz-transition:color .15s ease-out;
   -ms-transition:color .15s ease-out;
   -o-transition:color .15s ease-out;
   transition:color .15s ease-out;
   padding-bottom:.05em;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-bottom-color:rgba(255,255,255,.3);
   -webkit-transition:border-color .15s ease-out,color .15s ease-out;
   -moz-transition:border-color .15s ease-out,color .15s ease-out;
   -ms-transition:border-color .15s ease-out,color .15s ease-out;
   -o-transition:border-color .15s ease-out,color .15s ease-out;
   transition:border-color .15s ease-out,color .15s ease-out
}
.Index-page--has-image .vba-block-html p a:hover{
   color:rgba(255,255,255,.5)
}
.Index-page--has-image .vba-block-html p a:hover{
   color:rgba(255,255,255,.6);
   border-color:rgba(255,255,255,.15)
}
.Index-page-content{
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
   padding:96px 60px
}
@media screen and (max-width:960px){
   .Index-page-content{
       padding-left:48px;
       padding-right:48px
   }
}
@media screen and (max-width:768px){
   .Index-page-content{
       padding-left:36px;
       padding-right:36px
   }
}
@media screen and (max-width:640px){
   .Index-page-content{
       padding-left:20px;
       padding-right:20px
   }
}
@media screen and (max-width:640px){
   .Index-page-content{
       padding-top:60px;
       padding-bottom:60px
   }
}
.Index-page--has-image .Index-page-content{
   position:relative;
   z-index:2;
   padding-top:155px;
   padding-bottom:155px
}
@media screen and (max-width:960px){
   .Index-page--has-image .Index-page-content{
       padding-top:120px;
       padding-bottom:120px
   }
}
@media screen and (max-width:640px){
   .Index-page--has-image .Index-page-content{
       padding-top:60px;
       padding-bottom:60px
   }
}

.text-align-center{
   text-align:center
}

.vba-block-button .vba-block-button-container--center{
   text-align:center
}

.vba-block-button .vba-block-button-element:hover{
   background-color: #fff;
   color: #1d1d1d;
}

.vba-block-button .vba-block-button-element{
  background-color:rgba(0, 0, 0, 0);
  border-bottom-color:rgb(255, 255, 255);
  border-bottom-style:solid;
  border-bottom-width:2px;
  border-left-color:rgb(255, 255, 255);
  border-left-style:solid;
  border-left-width:2px;
  border-right-color:rgb(255, 255, 255);
  border-right-style:solid;
  border-right-width:2px;
  border-top-color:rgb(255, 255, 255);
  border-top-style:solid;
  border-top-width:2px;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:inline-block;
  font-family:proxima-nova;
  font-size:15px;
  font-style:normal;
  font-weight:400;
  height:15px;
  letter-spacing:1.5px;
  line-height:normal;
  outline-color:rgb(255, 255, 255);
  outline-style:none;
  outline-width:0px;
  padding-bottom:21px;
  padding-left:34px;
  padding-right:34px;
  padding-top:21px;
  pointer-events:auto;
  text-align:center;
  text-decoration-color:rgb(255, 255, 255);
  text-decoration-line:none;
  text-decoration-style:solid;
  text-size-adjust:100%;
  text-transform:uppercase;
  transition-delay:0s, 0s;
  transition-duration:0.1s, 0.1s;
  transition-property:background-color, color;
  transition-timing-function:linear, linear;
  width:175.422px;
  -webkit-appearance:none;
  -webkit-font-smoothing:antialiased;
}

.Index-page-scroll-indicator.hidden .Index-page-scroll-indicator-text,
.Index-page-scroll-indicator.hidden .Index-page-scroll-indicator-arrow,
.Index-page-scroll-indicator.hidden .Index-page-scroll-indicator-line{
   opacity:0;
   pointer-events:none;
   -webkit-transform:translatey(20px);
   -moz-transform:translatey(20px);
   -ms-transform:translatey(20px);
   -o-transform:translatey(20px);
   transform:translatey(20px)
}
.Index-page-scroll-indicator-text{
   display:none;
   margin-bottom:16px;
   font-family:Arial,Helvetica,sans-serif;
   font-family:freight-sans-pro;
   font-weight:400;
   font-style:normal;
   font-size:12px;
   letter-spacing:0em;
   text-transform:uppercase;
   line-height:1em;
   color:#fff;
   -webkit-transition:transform 170ms 170ms ease-out, opacity 170ms 170ms ease-out;
   -moz-transition:transform 170ms 170ms ease-out, opacity 170ms 170ms ease-out;
   -ms-transition:transform 170ms 170ms ease-out, opacity 170ms 170ms ease-out;
   -o-transition:transform 170ms 170ms ease-out, opacity 170ms 170ms ease-out;
   transition:transform 170ms 170ms ease-out, opacity 170ms 170ms ease-out
}
.tweak-index-page-scroll-indicator-icon-and-text .Index-page-scroll-indicator-text{
   display:block
}

.Index-page-content{
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;
   padding:96px 60px
}
@media screen and (max-width:960px){
   .Index-page-content{
       padding-left:48px;
       padding-right:48px
   }
}
@media screen and (max-width:768px){
   .Index-page-content{
       padding-left:36px;
       padding-right:36px
   }
}
@media screen and (max-width:640px){
   .Index-page-content{
       padding-left:20px;
       padding-right:20px
   }
}
@media screen and (max-width:640px){
   .Index-page-content{
       padding-top:60px;
       padding-bottom:60px
   }
}
@media only screen and (max-width:1024px){
   .Index-page--has-image h1,.Intro--has-image h1{
       font-size:52px !important
   }
}
.Intro-content,.Main-content,.Index-page-content{
   -webkit-animation:anim-opacity-full 480ms ease-out;
   animation:anim-opacity-full 480ms ease-out
}
