/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  background-color: #BDBDBD;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 2 0px; }
  .header { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}

.mat-toolbar-row, .mat-toolbar-single-row{
  background-color: #D32F2F!important;
}

.main-menu{
  margin-left: auto;
  padding: 0;
  border: none;
  background: none;
}

.main-footer{
  text-align:center;
  background-color: #757575;
}

.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; }
.Treant.loaded .node,
.Treant.loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }

.Treant > .node {  }
.Treant > p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.node-name {
  font-weight: bold;
}

.node1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
    color: #FFFFFF;
}

.item {
  padding: 0;
  display: flex;
}

.container{
  display: flex;
  justify-content: center;
}
.slide-button{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

/* Color */
.blue {
    background-color: #191970;
    text-align: center;
}

.dark-primary-color {
    background-color: #D32F2F;
    text-align: center;
}

.accent-color {
    background-color: #FF5722;
    text-align: center;
}

.light-primary-color {
    background-color: #FFCDD2;
    text-align: center;
    color: #757575;
}

.primary-color {
    background-color: #F44336;
    text-align: center;
}

.text-icons {
    background-color: #FFFFFF;
    text-align: center;
}

.primary-text {
    background-color: #212121;
    text-align: center;
}

.secondary-text {
    background-color: #757575;
    text-align: center;
}

.divider-color {
    background-color: #BDBDBD;
    text-align: center;
}

.light-green{
  background-color: #8BC34A;
  text-align: center;
}

.deep-purple{
    background-color: #673AB7;
}
