<main class="Index" data-controller="IndexFirstSectionHeight, Parallax, IndexNavigation">
   <section id="resume-header" class="Index-page Index-page--has-image"  data-parallax-original-element data-edit-main-image="Background">
      <div class="Index-page-content  vba-alternate-block-style-container">
         <div class="vba-layout vba-grid-12 columns-12" data-type="page">
            <div class="row vba-row">
               <div class="col vba-col-12 span-12">
                  <div class="vba-block html-block vba-block-html" data-block-type="2">
                     <div class="vba-block-content">
                        <h1></h1>
                        <h2 class="text-align-center">Download My Resume, Here</h2>
                     </div>
                  </div>
                  <div class="vba-block button-block vba-block-button" data-block-type="53">
                     <div class="vba-block-content">
                        <div class="vba-block-button-container--center" data-alignment="center" data-button-size="medium">
                           <a href="/assets/doc/CV-VBaylly-EN.pdf" class="vba-block-button-element--medium vba-block-button-element" target="_self" download>Download Resume</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="resume-content" class="Index-page" data-edit-main-image="Background">
      <div class="Index-page-content ">
         <div class="vba-layout vba-grid-12 columns-12" data-type="page">
            <div class="row vba-row">
               <div class="col vba-col-12 span-12">
                  <div class="row vba-row">
                     <div class="col vba-col-4 span-4">
                        <div class="vba-block html-block vba-block-html" data-block-type="2">
                           <div class="vba-block-content">
                              <h2>Development</h2>
                           </div>
                        </div>
                     </div>
                     <div class="col vba-col-8 span-8">
                        <div class="row vba-row">
                           <div class="col vba-col-5 span-5">
                              <div class="vba-block html-block vba-block-html" data-block-type="2">
                                 <div class="vba-block-content">
                                    <h3>Back-End</h3>
                                    <ul>
                                       <li>Java/J2EE</li>
                                       <li>Struts</li>
                                       <li>Spring</li>
                                       <li>Spring MVC</li>
                                       <li>Spring Security</li>
                                       <li>Java Server Faces</li>
                                       <li>Hibernates</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="col vba-col-3 span-3">
                              <div class="vba-block html-block vba-block-html" data-block-type="2">
                                 <div class="vba-block-content">
                                    <h3>Front-End</h3>
                                    <ul>
                                       <li>HTML/CSS</li>
                                       <li>JavaScript</li>
                                       <li>JQuery</li>
                                       <li>AngularJS</li>
                                       <li>Angular~7</li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="vba-block vba-col-3 span-3" data-block-type="21">
                     <div class="vba-block-content">&nbsp;</div>
                  </div>
                  <div class="row vba-row">
                     <div class="col vba-col-4 span-4">
                        <div class="vba-block html-block vba-block-html" data-block-type="2">
                           <div class="vba-block-content">
                              <h2>Work Experience</h2>
                           </div>
                        </div>
                     </div>
                     <div class="col vba-col-8 span-8">
                        <div class="vba-block html-block vba-block-html" data-block-type="2">
                          <div class="vba-block-content">
                                      <h3>SOA Technical analyst</h3>
                                      <p><strong><a target="_blank" href="https://www.intact.ca">Intact</a>&nbsp;–&nbsp;OCTOBER 2018 – DECEMBER 2018</strong><br />
                                        Join a Team Squad of 10 members – 6 Developer, 2 QA, 1 Analyst,1 Scrum Master.<br />
                                        Implementation of one of the back-end part in the SOA Architecture, to expose web services for the rating of Intact for Intact third part partner in the west Canada<br />
                                      </p>
                                      <h3>Technical Lead</h3>
                                      <p><strong><a target="_blank" href="https://www.decathlon.com/">Decathlon</a>&nbsp;–&nbsp;JUNE 2018 – OCTOBER 2018</strong><br />
                                        Part of a team with 2 Technical leads of at team of 14 peoples.<br />
                                        Developing an application from scratch of tills management to materialized the tills support.<br />
                                        (manager centralize and middle-ware tills manager installable on any devices)<br />
                                      </p>
                                      <h3>Senior Developer</h3>
                                      <p><strong><a target="_blank" href="https://spvm.qc.ca">Ville de Montréal</a>&nbsp;–&nbsp;FEBRUARY 2018 - MARCH 2018</strong><br />
                                        As senior developer I develop a big part of the middle-ware/back-end of a self content NodeJS application:<br />
                                        • Application conception<br />
                                        • Development and Production Environment implementation<br />
                                        • Application development.<br />
                                      </p>
                                      <h3>Technical Lead</h3>
                                      <p><strong><a target="_blank" href="https://www.total.com">Total</a>&nbsp;–&nbsp;JUNE 2017 - SEPTEMBER 2017</strong><br />
                                        After the outsourcing signing, CGI implement a budget manager.<br />
                                        From the conception to the delivery, I have been in charge of the architecture and the development management.<br />
                                        The application have been implemented in multi-tier architecture. A front end part used the last technology on the market, NodeJS, AngularJS, bower, bootstrap.<br />
                                        The Back end part exposed REST services implemented with Spring REST, Spring Security, Hibernate  as well as Flyway to keep the database integrity.<br />
                                      </p>
                                      <h3>Senior Developer</h3>
                                      <p><strong><a target="_blank" href="http://www.sacramento-alert.org">California Government, Sacramento</a>&nbsp;–&nbsp;JANUARY 2017 - FEBRUARY 2017</strong><br />
                                        To respond to an IT Challenge propose by the State of California, we develop an notifier application for web and mobile.<br />
                                        This notifications used GEO-Localization to send information about disaster near the user.<br />
                                        This web site was made in collaboration with CGI Sacramento office<br />
                                      </p>
                                   </div>
                        </div>
                     </div>
                  </div>
                  <div class="vba-block spacer-block vba-block-spacer sized vsize-1" data-block-type="21">
                     <div class="vba-block-content">&nbsp;</div>
                  </div>
                  <div class="row vba-row">
                     <div class="col vba-col-4 span-4">
                        <div class="vba-block html-block vba-block-html" data-block-type="2">
                           <div class="vba-block-content">
                              <h2>Education</h2>
                           </div>
                        </div>
                     </div>
                     <div class="col vba-col-8 span-8">
                        <div class="vba-block html-block vba-block-html" data-block-type="2">
                           <div class="vba-block-content">
                              <h3>ATG Training Session - Oracle - 2015</h3>
                              <h3>Unit Test/Continuous Integration - 2011</h3>
                              <h3>Advanced Training Session OOP - 2007</h3>
                              <p>Java/J2EE, Project Conception and Implementation</p>
                              <h3>Computer Sciences - DEC - 2004/2006</h3>
                              <h3>Joubert Voyages, Paris - Internship Analyst - Developer</h3>
                              <p>DECEMBER 2005 - DECEMBER 2006</p>
                              <h3>Netpartage, Paris - Internship Analyst - Developer</h3>
                              <p>JANUARY 2005 - JULY 2005</p>
                              <h3>Hobby One, Paris - Internship Analyst - Developer</h3>
                              <p>NOVEMBER 2003 - JANUARY 2004</p>
                              <h3>High School Diploma - 2003</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
